/* COMMON RESETS */
*,
::before, 
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* "MY" COLORS */

* {
    --priCol: #001730;
    --secCol: #4ad7d1;
    --hiCol: #fe4a49;
}

body {
    background-color: #333;
    color: #fed;
    padding: 1.44rem;
}