/* COMMON RESETS */
* {
    box-sizing: border-box;
}

/* "MY" COLORS */

* {
    --bgCol: #333;
    --Col: #fed;
    --Col0: #001730;
    --Col1: #4ad7d1;
    --Col2: #fe4a49;
}

body {

    padding: 3.33rem;
}

body, 
.ass,
.cha  {
    background-color: var(--bgCol);
    color: var(--Col);
}

#bigBox,
#assBox, 
#chaBox,
.ass
.cha {
    display: flex;
    flex-wrap: wrap;
    border: thick solid black;
    padding: 1rem;
}

#bigBox {
    background-color: var(--Col0);
    color: var(--Col);
    flex-direction: row;
}

#assBox {
    background-color: var(--Col1);
    color: var(--Col2);
}

#chaBox {
    background-color: var(--Col2);
    color: var(--Col1);
}

div {
    padding: 1.44rem;
    margin: 1.44rem;
}

.ass 
.cha {
    justify-items: space-between;
    flex-direction: row;
    padding: .333rem;
}

h1, h2, h2 {margin: .333rem}
button {
    padding: .333rem;
    margin: .333rem;
    border-radius: 9rem;
    outline: none;
    cursor: pointer;
}

button:hover {
    filter: invert(100%);
}