* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: #fed;
    padding: 1.44rem;
}

button {
    padding: .3rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
    color: #fed;
}