
body {
    background-color: gray;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
}

h1, h3 {
    color: #b00;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    text-shadow: 2px 2px 0px rgba(0,0,0,.6)
}

h3 {
    
    text-shadow: 1px 1px 0px rgba(0,0,0,.3)
}

#menuBG {
    /* display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-content: space-between; */
    width: 400px;
    height: 470px;
    background-color: #060;
    margin: 10px auto;
    padding: 1.44rem;
}

#frmMenu {
    width: 400px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 144px;
    height: 40px;
    box-shadow: 3px 3px 0px rgba(0,0,0,.6)
}